<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
  <!-- AD_ID explizit entfernen - keine Werbe-ID noetig -->
  <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove" />
  <application
      android:allowBackup="true"
      android:largeHeap="true"
      android:icon="@mipmap/appicon"
      android:roundIcon="@mipmap/appicon_round"
      android:label="RechnerPlus"
      android:supportsRtl="true"
      android:theme="@style/MyTheme.NoActionBar">
  </application>
  <uses-permission android:name="android.permission.INTERNET" />
</manifest>
